
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Center content vertically and horizontally */
/* html, body {
    height: 100%;
    margin: 0;
   } */
/* Customize Material Card */
mat-card {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* mat-slide-toggle.mat-primary {
    --mdc-switch-selected-focus-state-layer-color: #4CAF50;
    --mdc-switch-selected-handle-color: #4CAF50;
    --mdc-switch-selected-hover-state-layer-color: #4CAF50;
    --mdc-switch-selected-pressed-state-layer-color: #4CAF50;
    --mdc-switch-selected-focus-handle-color: #2E7D32;
    --mdc-switch-selected-hover-handle-color: #2E7D32;
    --mdc-switch-selected-pressed-handle-color: #2E7D32;
    --mdc-switch-selected-focus-track-color: #4CAF50;
    --mdc-switch-selected-hover-track-color: #4CAF50;
    --mdc-switch-selected-pressed-track-color: #4CAF50;
    --mdc-switch-selected-track-color: #4CAF50;
  } */

.completed-toggle.mat-slide-toggle.mat-primary {
    --mdc-switch-selected-focus-state-layer-color: #4CAF50;
    --mdc-switch-selected-handle-color: #4CAF50;
    --mdc-switch-selected-hover-state-layer-color: #4CAF50;
    --mdc-switch-selected-pressed-state-layer-color: #4CAF50;
    --mdc-switch-selected-focus-handle-color: #2E7D32;
    --mdc-switch-selected-hover-handle-color: #2E7D32;
    --mdc-switch-selected-pressed-handle-color: #2E7D32;
    --mdc-switch-selected-focus-track-color: #4CAF50;
    --mdc-switch-selected-hover-track-color: #4CAF50;
    --mdc-switch-selected-pressed-track-color: #4CAF50;
    --mdc-switch-selected-track-color: #4CAF50;
}

.pending-toggle.mat-slide-toggle.mat-primary {
    --mdc-switch-selected-focus-state-layer-color: rgba(0, 0, 0, 0.38);
    /* Default color */
    --mdc-switch-selected-handle-color: rgba(0, 0, 0, 0.38);
    /* Default color */
    --mdc-switch-selected-hover-state-layer-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-pressed-state-layer-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-focus-handle-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-hover-handle-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-pressed-handle-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-focus-track-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-hover-track-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-pressed-track-color: rgba(0, 0, 0, 0.38);
    --mdc-switch-selected-track-color: rgba(0, 0, 0, 0.38);
}